@import url(html4css1.css);

body {
     font-family: calibri, helvetica, sans-serif;
     padding-left: 5cm;
     padding-right: 5cm;
}
//  my changes


h1 {
  display:block;
}


h1+p:first-letter {
//  color:silver;
  font-size:xx-large;
}



.navbar:before{ 
  padding: 0.5em 0.5em; 
  margin-bottom: none; 
  content:"The Simple IT Manager";   
  background-color:#336699;
  display:block;
  font-size:large;
  text-align:center;
  color:white;
}



// code to create horiz navbar. requires ul with class .navbar
// currently in the rst by raw html. might be nice to do a directive
// .. container:: navbar is an example


.navbar {
  align:left;
  background-color:white;
}


.navbar ul
{
  padding-left: 0;
  margin-left: 0;
  color: White;
  float: left;
  align: center; 
  width: 100%;
  font-family: calibri, helvetica, sans-serif;
}

.navbar ul li { 
  display: inline;
 }

.navbar ul li a
{
  padding: 0.2em 1em;
  background-color: #369;
  color: White;
  text-decoration: none;
  float: left;
  border-right: 1px solid #fff;
}

.navbar ul li a:hover
{
  background-color: #036;
  color: #ffffff;
}



